<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kieranjohnmoore.jokelibrary">

    <application>
        <activity
            android:name=".JokeActivity"
            android:label="@string/title_activity_joke"
            android:parentActivityName="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidx.appcompat.app.AppCompatActivity" />
        </activity>
    </application>

</manifest>